:root
{
    --canvas-background-style: hsl(271, 61%, 74%);
    --debug-border-style: 3px dashed hsl(247, 93%, 69%);
    --debug-background-style: hsla(221, 77%, 39%, 0.4);
    
    --debug-value-background-style: hsl(355, 54%, 52%);
}

html, body { font-size: 100%; }
body
{
    font-family: sans-serif;
    
    overflow: hidden;
}

#canvas-main
{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    
    cursor: crosshair;
    
    background: var(--canvas-background-style);
    
    z-index: 500;
}

.debug-data
{
    position: absolute;
    top: 0; right: 0;
    max-width: 33%;
    
    padding: 1em;
    
    background: var(--debug-background-style);
    border-left: var(--debug-border-style);
    border-bottom: var(--debug-border-style);
    
    z-index: 1000;
}

.debug-data > ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.debug-data output
{
    padding: 0.25em 0.45em;
    
    background: var(--debug-value-background-style);
    border-radius: 0.2em;
}

#message-es6-modules
{
    position: relative;
    z-index: 1000;
}
